@import "tailwindcss";

@theme {
  --color-synapse-yellow: #FFD600;
  --color-synapse-cyan: #00E5FF;
  --color-synapse-blue: #2979FF;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
}
